@import url(../reset.css);
@import url(./root.css);

.base-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  margin: 0 auto;
  height: calc(var(--vh, 1vh) * 100);
}

.base-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}