.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  margin: 2.5rem 1rem 1.5rem 1rem;
  padding: 1rem 2rem;
  height: 350px;
  width: 70%;
  max-width: 480px;
}