.header-container {
  width: 100%;
  min-height: 150px;
  padding-bottom: 1rem;
  background: var(--header-color);
}

.header-container > .header-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: end;
  justify-items: center;
  margin: 0 1rem;
  height: 100%;
}

.home-btn-container {
  width: 15px;
  margin: 0 1rem;
  cursor: pointer;
}
@media(hover: hover) and (pointer: fine) {
  .home-btn-container:hover {
    opacity: 0.8;
  }
}
.home-btn-container > .home-btn {
  width: 100%;
}

.user-text {
  font-family: "GangwonEduHyeonokT_OTFMediumA";
  font-size: var(--mid);
  color: var( --black-color);
}