.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  width: 100%;
  height: 120px;
  background: var(--header-color);
}

.user-text {
  font-family: "GangwonEduHyeonokT_OTFMediumA";
  font-size: var(--mid);
  margin-bottom: 1rem;

}
