.letter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  margin: 2.5rem 1rem 1.5rem 1rem;
  padding: 1rem 2rem;
  height: 50%;
  width: 70%;
  max-width: 480px;
  white-space: pre-wrap;
}

.letter-box > .content {
  font-family: 'GangwonEduHyeonokT_OTFMediumA';
  font-size: var(--sm);
  color: var(--black-color);
  text-align: center;
}

.letter-box > .writer {
  font-family: 'GangwonEduHyeonokT_OTFMediumA';
  font-size: var(--ssm);
  color: var(--black-color);
}

.reply-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  margin: 0 1rem 1.5rem 1rem;
  padding: 1.5rem 2rem 1rem 2rem;
  height: 15%;
  width: 70%;
  max-width: 480px;
  position: relative;
  white-space: pre-wrap;
}

.reply-box > .writer-box {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px 0 0 0;
  background-color: var(--button-color);
  padding: 0.5rem 2rem 0.5rem 2rem;
}
.reply-box > .writer-box > .writer-name {
  font-family: 'GangwonEduHyeonokT_OTFMediumA';
  font-size: var(--ssm);
  color: var(--black-color);
}

.reply-box > .content {
  font-family: 'GangwonEduHyeonokT_OTFMediumA';
  font-size: var(--sm);
  color: var(--black-color);
  text-align: center;
}